<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GBSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GBSharp.Properties.Settings>
            <setting name="RecentROM1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM5" serializeAs="String">
                <value />
            </setting>
        </GBSharp.Properties.Settings>
    </userSettings>
</configuration>