<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GBSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GBSharp.Properties.Settings>
            <setting name="RecentROM1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentROM5" serializeAs="String">
                <value />
            </setting>
            <setting name="LCDColorOriginalGreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LCDSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MuteSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuteChannel0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuteChannel1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuteChannel2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuteChannel3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyboardUp" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="KeyboardLeft" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="KeyboardDown" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="KeyboardRight" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="KeyboardA" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="KeyboardB" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="KeyboardStart" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="KeyboardSelect" serializeAs="String">
                <value>ShiftKey</value>
            </setting>
            <setting name="ShouldRenderBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldRenderWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldRenderObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LCDGhosting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SGBEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </GBSharp.Properties.Settings>
    </userSettings>
</configuration>